<main class="main">
  <div class="start">
    <div class="info">
        <nav class="navbar">
        <a href="#">portfolio</a>
        <a href="#">about me</a>
        <a href="#">projects</a>
        <a href="#">contact me</a>
      </nav>
      <div class="intro">
        <div class="name">
          <h1>I am <span>Mako</span></h1>
          <p>or Mahmut Kalem <br>
           a Junior Frontend Web Developer
          </p>
        </div>
        <button>what i do</button>
      </div>
    </div>
  
    <div class="logo">
      <!-- <img id="top-line" src="../assets/start-page-svg/topLineM.svg" alt=""> -->
      <img id="full-logo" src="../assets/start-page-svg/full-logo.svg" alt="">
    </div>
  </div>
</main>


<router-outlet />
